html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-button {
    background-color: #4B0082; /* Slightly different shade of purple for button */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
}

    .login-button:hover {
        background-color: #6A0DAD; /* Darker shade on hover */
    }
